#aboutme{
    text-align: center;
}
.text-block-container{
width: 65%;
margin: 0 auto;
}
.about-me-section-description{
    text-align: justify;
}
@media screen and (max-width: 500px){
    .text-block-container{
        width: 100%;
    }
}
.about-icons{
    font-size: 40px;
    margin-top: 45px;
}
.abouticon{
    color: var(--titlesectionsecondarycolor);
}
.abouticon:hover{
    font-size: 55px;
    cursor: pointer;
}