#craps-game{
    background-image: url('../images/michal-parzuchowski-U8n_O7rEq7o-unsplash.jpg');
    color: white;
    background-position: center ;
}
.craps-game-title{
    text-align: center;
    margin-top: 50px;
}
.craps-game-container{
   width: min(600px, 70vw);
    height: min(400px, 47vw);
    margin: 0 auto 0 auto ;
    border: solid white 2px;
    background-image: url('../images/crapstable.jpg');
    background-size: cover;
    background-position: center ;
}
 #craps-game-registration{ 
 margin-top: 25px;
    text-align: center;
}
.craps-game-input-reg{
    background: none;
    border: none;
    border-bottom: solid white 1px;
    color: white;
    margin-top: 25px;
    text-align: center;
}
.craps-game-input-reg:focus{
    outline: none;
}
.craps-game-button{
    margin-top: 55px;

    border-radius: 5px;
}
.craps-game-button:hover{
    background-color: white;
    color: rgb(169, 37, 45);
    cursor: pointer;
}
#craps-game-main-section{
    display: none;
   
}
.craps-game-main-section-stats{
    text-align: center;
    margin-top: 70px;
}
#craps-stats-money{
    font-size: 30px;
    margin: 25px 0 5px 0;
}