:root{
    --width-scale :min(600px, 70vw , 70vh);
    --height-scale :calc(var(--width-scale) * 0.67);
    --game-title-size: min(calc(var(--height-scale) * 0.1), 2em);
    --title-maegin-bottom : calc(var(--height-scale) * 0.25);
}
#craps-game{
    background-image: url('../images/michal-parzuchowski-U8n_O7rEq7o-unsplash.jpg');
    color: white;
    background-position: center ;
    padding: 1px;
}
.craps-game-title{
    font-size: var(--game-title-size);
    text-align: center;
   margin-bottom: var(--title-maegin-bottom);
   margin-top: calc(calc(100vh - var(--game-title-size) - var(--title-maegin-bottom) - var(--height-scale) ) /2 );
}
.craps-game-container{
   width:var(--width-scale);
   height:var(--height-scale);
    margin: 0 auto ;
    border: solid white 2px;
    background-image: url('../images/crapstable.jpg');
    background-size: cover;
    background-position: center ;
}
 #craps-game-registration{ 
 margin-top: 25px;
    text-align: center;
}
.craps-game-input-reg{
    background: none;
    border: none;
    border-bottom: solid white 1px;
    color: white;
    margin-top: 25px;
    text-align: center;
}
.craps-game-input-reg:focus{
    outline: none;
}
.craps-game-button{
    margin-top: 55px;

    border-radius: 5px;
}
.craps-game-button:hover{
    background-color: white;
    color: rgb(169, 37, 45);
    cursor: pointer;
}
#craps-game-main-section{
    display: none;
   
}
.craps-game-main-section-stats{
    text-align: center;
    margin-top: 70px;
}
#craps-stats-money{
    font-size: 30px;
    margin: 25px 0 5px 0;
}