#craps-game{
    background-image: url('../images/michal-parzuchowski-U8n_O7rEq7o-unsplash.jpg');
    color: white;
    background-position: center ;
}
.craps-game-title{
    text-align: center;
    margin-top: 50px;
}
.craps-game-container{
   width: min(600px, 70vw);
    height: min(400px, 47vw);
    margin: 0 auto 0 auto ;
    border: solid white 2px;
    background-image: url('../images/crapstable.jpg');
    background-size: cover;
    background-position: center ;
}