:root{
    --width-scale :min(600px, 70vw , 70vh);
    --height-scale :calc(var(--width-scale) * 0.67);
    --game-title-size: min(calc(var(--height-scale) * 0.1), 2em);
    --title-maegin-bottom : calc(var(--height-scale) * 0.25);
}
#craps-game{
    background-image: url('../images/michal-parzuchowski-U8n_O7rEq7o-unsplash.jpg');
    color: white;
    background-position: center ;
    padding: 1px;
}
.craps-game-title{
    font-size: var(--game-title-size);
    text-align: center;
   margin-bottom: var(--title-maegin-bottom);
   margin-top: calc(calc(100vh - var(--game-title-size) - var(--title-maegin-bottom) - var(--height-scale) ) /2 );
}
.craps-game-container{
   width:var(--width-scale);
   height:var(--height-scale);
    margin: 0 auto ;
    border: solid white 2px;
    background-image: url('../images/crapstable.jpg');
    background-size: cover;
    background-position: center ;
    position: relative;
}
 #craps-game-registration{ 
 margin-top: calc(var(--height-scale) * 0.15);
 font-size: calc(var(--game-title-size) * 0.5);
text-align: center;

}
.craps-game-input-reg{
    background: none;
    border: none;
    border-bottom: solid white 1px;
    color: white;
    margin: calc(var(--height-scale) * 0.055) 0;
    text-align: center;
    font-size: calc(var(--game-title-size) * 0.5);
}
.craps-game-input-reg:focus{
    outline: none;
}

.craps-game-button:hover{
    background-color: white;
    color: rgb(169, 37, 45);
    cursor: pointer;
}
#craps-game-main-section{
    display: none;
   height: 100%;
   
   
}
.craps-game-main-section-stats{
    font-size:calc(var(--height-scale) * 0.05);
    text-align: center;
    margin-top :calc(var(--height-scale) * 0.15);
}
#craps-stats-money{
    font-size:calc(var(--height-scale) * 0.12);
    margin-top :calc(var(--height-scale) * 0.04); 
}
.craps-on-table-container{
     margin-top :calc(var(--height-scale) * 0.21);
      font-size :calc(var(--height-scale) * 0.05);
     text-align: center;
     
}
.craps-round-manager{
    position: absolute;
    bottom :calc(var(--height-scale) * 0.05);
    width : 100%;
    text-align: center;
    font-size:calc(var(--height-scale) * 0.06);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.craps-roll-dice-container{
    width: fit-content;
    margin: 0 auto;

}
.craps-roll-dice-container:hover{
    cursor: pointer;
   transform: scale(1.1);
}

.craps-betting-grid{
    display: grid;
    grid-template-columns: 33% auto 33%;
    width : 80%;
    margin: 0 auto;
    border : solid white 2px;
    border-radius: 5px;
}
.craps-bet-button{
     padding :calc(var(--height-scale) * 0.03); 
}
.craps-bet-button:hover{
   cursor: pointer;
   font-weight: bold;
}
.craps-bet-amount-container{
     padding :calc(var(--height-scale) * 0.03); 
     border-right: solid white 2px;
    border-left: solid white 2px;
    background-color: rgba(0,0,0,0.5);
}
#craps-user-bet-amount{
    margin : 0 calc(var(--height-scale) * 0.03); 
}
.craps-user-bet-amount-change:hover{
cursor: pointer;
   font-weight: bold;
}
