:root{
    --titlesectionprrimarycolor: rgb(255, 255, 255);
    --titlesectionsecondarycolor: rgba(169, 37, 45);

}
#title{
text-align: center;
background-image: url('../images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
background-size: cover;
background-position: center top;
color: var(--titlesectionprrimarycolor);
}
.title-section-button{
color: var(--titlesectionprrimarycolor);
background-color: transparent;
border: solid var(--titlesectionprrimarycolor) 1px;
padding: 15px,20px;
border-radius: 10px;
}
.title-section-button:hover{
    background-color: var(--titlesectionprrimarycolor);
    color: var(--titlesectionsecondarycolor);
    cursor: pointer;
}
.title-section-header{
    margin-bottom: 2px;
}
.blend-text,.title-section-subtitle{
    margin-bottom: 40px;
    font-weight: bold;
}
.misc-section{
    width: 100vw;
    padding: 100px 25px;
}
